body {
  font-family: "Azeret Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  color: #0d1321;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 38px;
}

.navBtn {
  font-family: "Azeret Mono", monospace;
  background-color: white;
  border: 1px solid #0d1321;
  padding: 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #0d1321;
}

.hero {
  background-image: url("/assets/Hero-bg.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px;
}

.hero h1 {
  font-size: 64px;
  font-weight: 700;
  color: #0d1321;
  margin-bottom: 24px;
  line-height: 150%;
  width: 75%;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

.hero p {
  font-size: 16px;
  color: #0d1321;
  margin-bottom: 24px;
  margin-top: 24px;
  width: 60%;
  text-align: center;
}

.hero button {
  font-family: "Azeret Mono", monospace;
  color: white;
  border: 1px solid #0d1321;
  padding: 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  background-color: #0d1321;
}

.secondSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 74px 148px;
  padding: 80px 97px;
  border-radius: 16px;
  background-color: #e0f8fb53;
}

.firstDiv h1 {
  color: #0d1321;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.firstDiv p {
  color: #0d1321;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

.whyWebDev {
  display: flex;
  color: #0d1321ab;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 48px 60px;
  border-radius: 16px;
  background-image: linear-gradient(90deg, #ffffff, #e0f8fb53);
}
#secondSec {
  display: flex;
  color: #0d1321ab;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 48px 60px;
  border-radius: 16px;
  background-image: linear-gradient(90deg, #e0f8fb53, #ffffff);
}
.whyWebDevText {
  width: 45%;
}
.whyWebDevText p {
  padding: 10px 0px;
}
.whyWebDevText button {
  font-family: "Azeret Mono", monospace;
  background: #ffffff00;
  padding: 12px 24px;
  border: 1px solid #0d1321c7;
  color: #0d1321c7;
  font-size: 16px;
  font-weight: 500;
}
.whyWebDev img {
  height: 240px;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.inspiration {
  text-align: center;
  padding: 50px 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inspiration p {
  width: 60%;
  padding-bottom: 20px;
}

.inspiration h1 {
  font-size: 32px;
  font-weight: 900px;
}
.youtubeVideo {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid black;
  width: 100%;
}
.youtubeVideo iframe {
  border-radius: 16px;
  width: 100%;
}
.target {
  text-align: center;
  padding: 50px 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.target p {
  padding-bottom: 20px;
}

.target h1 {
  font-size: 32px;
  font-weight: 900px;
}

.skill {
  display: flex;
}
.targetSingle {
  border-radius: 16px;
  text-align: left;
  padding: 40px;
  margin: 10px;
}
.targetSingle a {
  color: #0d1321;
}

#htmlSkill {
  background-color: #ff4b1e05;
}

#cssSkill {
  background-color: #004ce805;
}
#jsSkill {
  background-color: #ffdf0005;
}

.nextTarget p {
  padding-bottom: 10px;
}

.nextTarget h1 {
  font-size: 32px;
  font-weight: 900px;
  margin-bottom: 10px;
}

.nextTarget {
  text-align: center;
  padding: 50px 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nextSkillSingle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 16px;
  margin-top: 20px;
}

.nextSkillSingle img {
  height: 80px;
  object-fit: cover;
  padding: 20px;
}

.skillDetails {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.skillDetails a {
  padding-bottom: 20px;
  color: black;
}

.contactParent {
  background-image: url("./assets/handshake.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 148px;

  border-radius: 15px;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.contact {
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}

.contact p {
  width: 60%;
}
.contact h1 {
  font-size: 32px;
  font-weight: 900px;
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 60%;
  font-family: "Azeret Mono", monospace;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: 700;
  font-family: "Azeret Mono", monospace;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 148px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footertext {
  margin: 0;
  font-weight: 700;
}

.socialicons {
  display: flex;
  gap: 10px;
}

.socialicons a {
  color: inherit;
  text-decoration: none;
}

.socialicons img {
  width: 24px;
  height: 24px;
}
